/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 may. 2020, 19:22:52
    Author     : TitoS
*/


.color{
    -fx-background-color: #52DBCD;
}
.btnEstilo{
    -fx-background-color: #52DBCD;
}
.jfx-tab-pane .headers-region {
    -fx-background-color:   #52DBCD;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color:    #52DBCD;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #ffff00;
    -fx-stroke-width: 3pt;
}
